a.link{
	color: red;
}
a.visited{
	color: red;
}
a.hover{
	color: red;
}

.one{
	background-image: url("MidnightZen.png");
}
.two{
	background-image: url("MidnightZen2.png"),
}
#image{
	position: absolute;
	left: 0px;
}
.title{
	width: 300px;
	height: 70px;
	background-color: black;
	color: #FAAC58;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	position: absolute;
	top: 0px;
	left: 480px;
	border-style: groove;
	border-color: black;
	font-family: 'Brush Script MT', cursive;
	font-size: 405%;
}
#div {
  border: 2px solid #141414;
  box-shadow: 0 0 15px 5px #141414;
  opacity: 0.62;
}
#div2 {
	border: 2px solid #141414;
  	box-shadow: 0 0 15px 5px #141414;
  	opacity: 0.70;
}

.mission{
	width: 900px;
	background-color: black;
	color: #FAAC58;
	position: absolute;
	top: 150px;
	left: 190px;
	padding-left: 10px;
	padding-right: 10px;

}

.mission2{
	width: 800px;
	background-color: black;
	color: #FAAC58;
	position: absolute;
	top: 320px;
	left: 240px;
	padding-left: 10px;
	padding-right: 10px;

}

.mission3{
	width: 800px;
	color: #FAAC58;
	position: absolute;
	top: 650px;
	left: 240px;
	padding-left: 10px;
	padding-right: 10px;

}

.red{
	color: #B43104;
}

.table{
	border-collapse: collapse;
	border-style: solid;
	border-color: #FAAC58;
	color: white;
	text-align: center;
	position: absolute;
	left: 22vw;
}
.table2{
	border-collapse: collapse;
	border-style: solid;
	border-color: #FAAC58;
	color: white;
	text-align: center;
	position: absolute;
	left: 550px;
}
img{
	position: absolute;
	left: 300px;
}
.regular{
	color: #86592d;
}
.premium{
	color: grey;
}
.vip{
	color: gold;
}
.urgency{
	text-align: right;
}
#urgency{
	text-align: center;
	vertical-align: middle;
}
td + td,
th + th { 
	width: 100px;
	border-left: 1px solid; 
}
tr + tr { 
	width: 100px;
	border-top: 1px solid; 
}

.issue{
	width: 800px;
	background-color: black;
	color: #FAAC58;
	position: absolute;
	top: 250px;
	left: 240px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.errand{
	text-align: left;
	width: 400px;
	height: 450px;
	background-color: black;
	color: white;
	position: absolute;
	top: 740px;
	left: 440px;
}
#form {
  border: 2px solid blue;
  box-shadow: 0 0 15px 5px blue;
}
fieldset{
	border-style: double;
}
.submit{
background:    #fca240;
background:    -webkit-linear-gradient(#fca240, #000);
background:    linear-gradient(#fca240, #000);
border-radius: 5px;
color:         #fbbe7c;
display:       inline-block;
padding:       8px 20px;
font:          normal 700 24px/1 "Calibri", sans-serif;
text-align:    center;
text-shadow:   1px 1px 0 #674623;
}
.regular{
	text-align: right;
}
.premium{
	color: grey;
}
.vip{
	color: gold;
}

#task2{
	margin: 0 auto;
	width: 40%;
}

.contact{
	width: 800px;
	height: 7px;
	background-color: black;
	color: white;
	position: absolute;
	top: 1169px;
	left: 240px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top:10px;
	padding-bottom:10px;
	border: 2px solid #141414;
  	box-shadow: 0px 0px 0px 5px #141414;
  	opacity: 0.6;
}

.thankscontact{
	width: 800px;
	background-color: black;
	color: white;
	position: absolute;
	top: 1100px;
	left: 240px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top:10px;
	padding-bottom:10px;
	border: 2px solid #141414;
  	box-shadow: 0 0 15px 5px #141414;
  	opacity: 0.6;
}
.bet{
	width: 300px;
	height: 55px;
	background-color: black;
	color: #FAAC58;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	position: absolute;
	top: 10px;
	left: 505px;
	border-style: groove;
	border-color: black;
	font-family: 'Brush Script MT', cursive;
	font-size: 305%;
}
.cardButton{
	position: absolute;
	top: 1130px;
	left: 582px;
}
