a.link{
	color: red;
}
a.visited{
	color: red;
}
a.hover{
	color: red;
}

.error {
	color: red;
} 
body {
	width: 100%;
	height: 100%;
    text-align: center;
    background-image: url("ZenBG.png");
    background-repeat:  repeat;
    background-color: black;
    margin: 0;
    padding: 0;
    border: none;
    text-align: center;
    font: normal 13px Verdana, sans-serif;
    color: #222;
}

#navi {
	height: 50px;
	margin-top: 50px;
}

#menu {
	line-height: 50px;
	text-align: center;
	margin: 0 auto;
	padding: 0;
}

#content {
	width: 750px;
	margin: 0 auto;
	margin-bottom: 25px;
	padding: 30px 0;
	text-align: left;
}

ul {
	padding: 0;
}

ul li {
	list-style-type: none;
	display: inline;
	margin-right: 15px;
}

ul li a {
	color: #fff;
	text-decoration: none;
	padding: 3px 7px;
}

ul li a:hover {
	background: #01458e;
	color: #ff0;
}

.default {
	width: 850px;
	height: 50px;
}

.fixed {
	position: fixed;
	top: -5px;
	left: 0;
	width: 100%;
}
.one{
	background-image: url("MidnightZen.png");
}
.two{
	background-image: url("MidnightZen2.png"),
}
#image{
	position: absolute;
	left: 0px;
}
.title{
	width: 30%;
	height: 10%;
	background-color: black;
	color: #FAAC58;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
	top: 0px;
	left: 35%;
	border-style: groove;
	border-color: black;
	font-family: 'Brush Script MT', cursive;
	font-size: 405%;
	text-align: center;
}
#div {
	background-color: black;
  border: 2px solid #141414;
  box-shadow: 0 0 15px 5px #141414;
  opacity: 0.70;
}

.mission{
	width: 120%;
	color: #FAAC58;
	position: relative;
	top: 5px;
	left: -5%;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}

.mission2{
	width: 140%;
	text-align: center;
	color: #FAAC58;
	position: relative;
	top: 10px;
	left: -17.5%;
	padding-left: 10px;
	padding-right: 10px;

}

.mission3{
	width: 100%;
	color: #FAAC58;
	position: relative;
	top: 35px;
	left: 0%;
	padding-left: 10px;
	padding-right: 10px;
}

.red{
	color: #B43104;
}

.table{
	border-collapse: collapse;
	border-style: solid;
	border-color: #FAAC58;
	background-color: black;
	color: white;
	text-align: center;
	position: relative;
	top: 20px;
	left: 35%;
	opacity: 0.7;
}

img{
	position: absolute;
	left: 300px;
}
.regular{
	color: #86592d;
}
.premium{
	color: grey;
}
.vip{
	color: gold;
}
.urgency{
	text-align: right;
}
#urgency{
	text-align: center;
	vertical-align: middle;
}
td + td,
th + th { 
	width: 100px;
	border-left: 1px solid; 
}
tr + tr { 
	width: 100px;
	border-top: 1px solid; 
}

.issue{
	width: 800px;
	background-color: black;
	color: #FAAC58;
	position: absolute;
	top: 250px;
	left: 240px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.errand{
	text-align: left;
	width: 30%;
	height: 400px;
	background-color: black;
	color: white;
	position: relative;
	top: 5px;
	left: 35%;
}
#form {
  border: 2px solid blue;
  box-shadow: 0 0 15px 5px blue;
}
fieldset{
	border-style: double;
}
.submit{
background:    #fca240;
background:    -webkit-linear-gradient(#fca240, #000);
background:    linear-gradient(#fca240, #000);
border-radius: 5px;
color:         #fbbe7c;
display:       inline-block;
padding:       8px 20px;
font:          normal 700 24px/1 "Calibri", sans-serif;
text-align:    center;
text-shadow:   1px 1px 0 #674623;
}
.regular{
	text-align: right;
}
.premium{
	color: grey;
}
.vip{
	color: gold;
}

#task2{
	text-align: center;
}

.contact{
	width: 800px;
	height: 7px;
	background-color: black;
	color: white;
	position: relative;
	top: 10px;
	left: 240px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top:10px;
	padding-bottom:10px;
	border: 2px solid #141414;
  	box-shadow: 0px 0px 0px 5px #141414;
  	opacity: 0.6;
}

.thankscontact{
	width: 800px;
	background-color: black;
	color: white;
	position: absolute;
	top: 1100px;
	left: 240px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top:10px;
	padding-bottom:10px;
	border: 2px solid #141414;
  	box-shadow: 0 0 15px 5px #141414;
  	opacity: 0.6;
}
.bet{
	width: 300px;
	height: 55px;
	background-color: black;
	color: #FAAC58;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	position: absolute;
	top: 10px;
	left: 505px;
	border-style: groove;
	border-color: black;
	font-family: 'Brush Script MT', cursive;
	font-size: 305%;
}
.cardButton{
	position: absolute;
	top: 1130px;
	left: 582px;
}
